@{
    ViewBag.Title = "Home Page";
}

<form action="" method="post">
    <input type="text" name="Username" placeholder="Username" class="form-control" />
    <input type="password" name="Password" placeholder="Password" class="form-control" />
    <input type="submit" value="Sign In" class="btn btn-success" />

            
</form>