@model University.Models.Database.Department
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<form action="/Department/Delete" method="post">

    <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Name">
    <input type="hidden" name="ID" value="@Model.id" />
    <input type="submit" value="Delete" />

</form>
