
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<table border="1" align="center" width="50%">
    <tr>
        <th>Name of the Institution</th>
        <th>Program</th>
        <th>Result</th>
        <th>Passing Year</th>
    </tr>
    <tr>
        <td>Adamjee Cantonment Public School</td>
        <td>SSC</td>
        <td>GPA-5.00</td>
        <td>2016</td>

    </tr>
    <tr>
        <td>Dhaka Residential Model College</td>
        <td>HSC</td>
        <td>GPA-4.33</td>
        <td>2018</td>
    </tr>
    <tr>
        <td>American International University-Bangladesh</td>
        <td>BSc in Science</td>
        <td>CGPA-3.60(Current)</td>
        <td>2022(Expected)</td>
    </tr>
</table>