
@{
    ViewBag.Title = "MyProjects";
}

<h1>MyProjects</h1>

<h3>PiperNET</h3>
<p> A Convolutational Neural Network Project to detect Cancer Cells</p>
<h3>Hotel Management System</h3>
<p>A desktop application using C#</p>

