@model List<EFStudent.Models.Database.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table table-bordered">
    <tr>
        
        <th>Name</th>
        <th>University ID</th>
        <th>Date of Birth</th>
        <th>CGPA</th>
    </tr>
    @foreach (var s in Model)
            {
                <tr>
                    
                    <td>@s.Name</td>
                    <td>@s.uID</td>
                    <td>@s.DOB</td>
                    <td>@s.CGPA</td>
                </tr>
            }

</table>
<a href="/Student/Scholarship">Scholarship</a><br />
<a href="/Student/Scholarship">Special Discount</a><br />
<a href="/Student/Create">Add Another Student</a>
